* {
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
}

.navbar {
  padding: 2rem 1rem 2rem 1rem;
  font-family: 'Karla', sans-serif;
  font-size: 1.2rem;
  background-color: white;
}

#navbartitle {
  font-family: 'Tourney', sans-serif;
}