.search-form{
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search-bar{
    width: 40%;
    border: dashed;
    border-width: 1px;
    padding: 15px;
    font-size: 20px;
  }
  
  .search-btn {
    border-style: dashed;
    border-width: 1px;
    padding: 15px 20px;
    font-size: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .recipes { 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px;
    padding-top: 20px;
  }
  
  .ingredients {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 15px;
    flex-direction: row;
  }
  
  @keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
      -webkit-transform: translateY(0);
      -ms-transform:     translateY(0);
      transform:         translateY(0)
    }
    40% {
      -webkit-transform: translateY(-10px);
      -ms-transform:     translateY(-10px);
      transform:         translateY(-10px)
    }
    60% {
      -webkit-transform: translateY(-10px);
      -ms-transform:     translateY(-10px);
      transform:         translateY(-10px)
    }
    }
    
  
  .ingr-img {
    width: 80px;
    height: 80px;
    -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  }
  
  .ingr-img:hover {
    cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
  }
  
  .recipe-card {
    border-width: 1px;
  }
  
  .App {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    font-family: Karla;
    cursor: default;
    padding-top: 5px;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
  
  a {
    cursor: pointer;
  }
  
  #loadingIndicator {
    display: none;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  /* .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 60%;
    height: 50%;
    overflow: auto;
  }
  
  .modal-content {
    margin: 15% auto;
    padding: 20px;
    width: 50%;
  } */
  
  #header-img:hover {
    cursor: pointer;
  }
  
  path {
    fill: transparent;
  }
  
  text {
    fill: #FF9800;
  }
  
  #recipe-gen {
    border-style: dashed;
    border-width: 1px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5%;
    font-size: 18px;
    background-color: palegoldenrod;
  }
  
  #recipe-gen:hover {
    background-color: #c6214a7c;
  }