.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-color: #003366;
}

.landing-title {
  font-family: 'Tourney', cursive;
  color: white;
  font-size: 3rem;
}

.landing-text {
  font-family: 'Rajdhani', sans-serif;
  color: white;
}
