.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50vh;
}

.dashboard-profile {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.profile-title {
  font-family: 'Karla', sans-serif;
}

.profile-button {
  border: 1px dashed #000000;
  background-color: palegoldenrod;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.profile-button:hover {
  background-color: #c6214a7c;
}

.edit-container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 100vh;
}

#edit-input {
  width: 300px;
  text-align: center;
  border: 1px dashed #000000;
}

.save-edit {
  border: 1px dashed #000000;
  background-color: palegoldenrod;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.cancel-edit {
  border: 1px dashed #000000;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.save-edit:hover {
  background-color: #c6214a7c;
}

.cancel-edit:hover {
  background-color: #c6214a7c;
}
