.search-form{
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  width: 40%;
  border: dashed;
  border-width: 1px;
  padding: 15px;
  font-size: 20px;
}

.search-btn {
  border-style: dashed;
  border-width: 1px;
  padding: 15px 20px;
  font-size: 20px;
}

#recipe-gen-h1 {
  text-align: center;
}

.recipes-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px;
  padding-top: 20px;
}


.ingredients {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 15px;
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
    -ms-transform:     translateY(0);
    transform:         translateY(0)
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform:     translateY(-10px);
    transform:         translateY(-10px)
  }
  60% {
    -webkit-transform: translateY(-10px);
    -ms-transform:     translateY(-10px);
    transform:         translateY(-10px)
  }
  }

.ingr-img {
  width: 80px;
  height: 80px;
  -webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-timing-function: ease-in-out;
animation-timing-function: ease-in-out;
animation-iteration-count: 1;
-webkit-animation-iteration-count: 1;
}

.ingr-img:hover {
  cursor: pointer;
  animation-name: bounce;
  -moz-animation-name: bounce;
}

.recipe-card {
  border-width: 1px;
}

.App {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 50px;
  font-family: 'Karla', sans-serif;
  cursor: default;
}

a {
  cursor: pointer;
}

#loadingIndicator {
  display: none;
}

button:hover {
  cursor: pointer;
}

#header-img:hover {
  cursor: pointer;
}

#header-img {
  width: 140px;
}

#recipe-gen {
  border-style: dashed;
  border-width: 1px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5%;
  font-size: 18px;
  background-color: palegoldenrod;
}

#recipe-gen:hover {
  background-color: #c6214a7c;
}
