.trivia-cat {
  height: 150px;
}

.quiz-container {
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.quiz-setting {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.quiz button {
  display: block;
  line-height: 1.3;
  padding: 0.5em;
  max-width: 100%;
  margin-top: 1em;
  border: 1px dashed #000000;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  background-color: palegoldenrod;
  color: #000000;
}

.quiz button:hover {
  background-color: #c6214a7c;
  color: #000000;
  border-color: #cccccc;
}

.quiz select {
  display: block;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  margin-top: 1em;
  border: 1px dashed #000000;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}

.quiz select:hover {
  border: 2px solid #cccccc;
}

.quiz ul {
  padding: 0;
  list-style-type: none;
}

.quiz li {
  display: block;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  margin-top: 1em;
  border: 1px dashed #000000;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

.quiz li:hover {
  background-color: #7a9cc6;
  color: #000000;
}

.quiz li.correct {
  background-color: #77ad78;
}

.quiz li.selected {
  background-color: #ac3931;
}

.quiz-final {
  position: relative;
  display: flex;
  flex-direction: column;
}

.quiz-final button {
  display: block;
  line-height: 1.3;
  padding: 0.5em;
  max-width: 100%;
  margin: 1rem;
  border: 1px dashed #000000;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  cursor: pointer;
  background-color: palegoldenrod;;
  color: #000000;
}

.quiz-final button:hover {
  background-color: #c6214a7c;
  color: #ffffff;
  border-color: #cccccc;
}

.final-title {
  font-family: 'Tourney', cursive;
  font-size: 2rem;
}
